---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Layout from "../../layouts/Layout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
  <div class="row">
    <!-- <div class="col-lg-3">
      <aside class="sidebar">
        <form action="page-search-results.html" method="get">
          <div class="input-group mb-3 pb-1">
            <input
              class="form-control text-1"
              placeholder="Search..."
              name="s"
              id="s"
              type="text"
            />
            <button type="submit" class="btn btn-dark text-1 p-2"
              ><i class="fas fa-search m-2"></i></button
            >
          </div>
        </form>
        <h5 class="font-weight-semi-bold pt-4">Categories</h5>
        <ul class="nav nav-list flex-column mb-5">
          <li class="nav-item">
            <a class="nav-link" href="#">Design (2)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Photos (4)</a>
            <ul>
              <li class="nav-item">
                <a class="nav-link" href="#">Animals</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Business</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sports</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">People</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Videos (3)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Lifestyle (2)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Technology (1)</a>
          </li>
        </ul>
        <div class="tabs tabs-dark mb-4 pb-2">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a
                class="nav-link show active text-1 font-weight-bold text-uppercase"
                href="#popularPosts"
                data-bs-toggle="tab">Popular</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-1 font-weight-bold text-uppercase"
                href="#recentPosts"
                data-bs-toggle="tab">Recent</a
              >
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="popularPosts">
              <ul class="simple-post-list">
                <li>
                  <div class="post-image">
                    <div class="img-thumbnail img-thumbnail-no-borders d-block">
                      <a href="blog-post.html">
                        <img
                          src="img/blog/square/blog-11.jpg"
                          width="50"
                          height="50"
                          alt=""
                        />
                      </a>
                    </div>
                  </div>
                  <div class="post-info">
                    <a href="blog-post.html">Nullam Vitae Nibh Un Odiosters</a>
                    <div class="post-meta">Nov 10, 2025</div>
                  </div>
                </li>
                <li>
                  <div class="post-image">
                    <div class="img-thumbnail img-thumbnail-no-borders d-block">
                      <a href="blog-post.html">
                        <img
                          src="img/blog/square/blog-24.jpg"
                          width="50"
                          height="50"
                          alt=""
                        />
                      </a>
                    </div>
                  </div>
                  <div class="post-info">
                    <a href="blog-post.html">Vitae Nibh Un Odiosters</a>
                    <div class="post-meta">Nov 10, 2025</div>
                  </div>
                </li>
                <li>
                  <div class="post-image">
                    <div class="img-thumbnail img-thumbnail-no-borders d-block">
                      <a href="blog-post.html">
                        <img
                          src="img/blog/square/blog-42.jpg"
                          width="50"
                          height="50"
                          alt=""
                        />
                      </a>
                    </div>
                  </div>
                  <div class="post-info">
                    <a href="blog-post.html">Odiosters Nullam Vitae</a>
                    <div class="post-meta">Nov 10, 2025</div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tab-pane" id="recentPosts">
              <ul class="simple-post-list">
                <li>
                  <div class="post-image">
                    <div class="img-thumbnail img-thumbnail-no-borders d-block">
                      <a href="blog-post.html">
                        <img
                          src="img/blog/square/blog-24.jpg"
                          width="50"
                          height="50"
                          alt=""
                        />
                      </a>
                    </div>
                  </div>
                  <div class="post-info">
                    <a href="blog-post.html">Vitae Nibh Un Odiosters</a>
                    <div class="post-meta">Nov 10, 2025</div>
                  </div>
                </li>
                <li>
                  <div class="post-image">
                    <div class="img-thumbnail img-thumbnail-no-borders d-block">
                      <a href="blog-post.html">
                        <img
                          src="img/blog/square/blog-42.jpg"
                          width="50"
                          height="50"
                          alt=""
                        />
                      </a>
                    </div>
                  </div>
                  <div class="post-info">
                    <a href="blog-post.html">Odiosters Nullam Vitae</a>
                    <div class="post-meta">Nov 10, 2025</div>
                  </div>
                </li>
                <li>
                  <div class="post-image">
                    <div class="img-thumbnail img-thumbnail-no-borders d-block">
                      <a href="blog-post.html">
                        <img
                          src="img/blog/square/blog-11.jpg"
                          width="50"
                          height="50"
                          alt=""
                        />
                      </a>
                    </div>
                  </div>
                  <div class="post-info">
                    <a href="blog-post.html">Nullam Vitae Nibh Un Odiosters</a>
                    <div class="post-meta">Nov 10, 2025</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <h5 class="font-weight-semi-bold pt-4">About Us</h5>
        <p>
          Nulla nunc dui, tristique in semper vel, congue sed ligula. Nam dolor
          ligula, faucibus id sodales in, auctor fringilla libero. Nulla nunc
          dui, tristique in semper vel. Nam dolor ligula, faucibus id sodales
          in, auctor fringilla libero.
        </p>
      </aside>
    </div> -->
    <div class="col-lg-12">
      <div class="blog-posts">
        {
          posts.map((post) => (
            <article class="post post-medium">
              <div class="row mb-3">
                {/* <div class="col-lg-5">
                  <div class="post-image">
                    <a href={`/blog/${post.id}/`}>
                      <img
                        src="img/blog/medium/blog-11.jpg"
                        class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0"
                        alt=""
                      />
                    </a>
                  </div>
                </div> */}
                <div class="col-lg-7">
                  <div class="post-content">
                    <h2 class="font-weight-semibold pt-4 pt-lg-0 text-5 line-height-4 mb-2">
                      <a href={`/blog/${post.id}/`}>{post.data.title}</a>
                    </h2>
                    {/* <p class="mb-0">{post.data.description} [...]</p> */}
                  </div>
                </div>
              </div>
              {/* <div class="row">
                <div class="col">
                  <div class="post-meta">
                    <span>
                      <i class="far fa-calendar-alt" />{" "}
                      <FormattedDate date={post.data.pubDate} />{" "}
                    </span>
                    <span>
                      <i class="far fa-user" /> By <a href="#">John Doe</a>{" "}
                    </span>
                    <span>
                      <i class="far fa-folder" /> <a href="#">Lifestyle</a>,{" "}
                      <a href="#">Design</a>{" "}
                    </span>
                    <span>
                      <i class="far fa-comments" /> <a href="#">12 Comments</a>
                    </span>
                    <span class="d-block d-sm-inline-block float-sm-end mt-3 mt-sm-0">
                      <a
                        href="blog-post.html"
                        class="btn btn-xs btn-light text-1 text-uppercase"
                      >
                        Read More
                      </a>
                    </span>
                  </div>
                </div>
              </div> */}
            </article>
          ))
        }

        <!-- <ul class="pagination float-end">
          <li class="page-item">
            <a class="page-link" href="#"><i class="fas fa-angle-left"></i></a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
</Layout>
